<h1><b>Form</b></h1>

<%= form_for :person, url: {action: "create"} do |f|  %>


 <% array = Array.new %>
 <% @forms.each do |field| %>
 <% temp = field.label %>
   <div class="field">
   	 <%= f.label temp %>
	 <%= f.text_field array() %>
  </div>

<% end %>

<p> <%= array %> </p>

<p>
<%= f.submit %>
</p>


<% end %>

